@use 'main';

$link-color: rgb(16, 93, 216);

a,
a:visited {
  color: $link-color;

  &:visited {
    color: $link-color;
  }
}

table {
  max-width: 550px;
}

.roles-cell,
.nightsheet-cell,
.randomizer-cell {
  width: 1%;
  white-space: nowrap;
}

.btn {
  border: 1px solid transparent;
  padding: .375rem .75rem;
  border-radius: 0.25rem;
  background-color: #007bff;
  border-color: #007bff;

  a,
  a:visited {
    color: white;
  }
}
