@use 'theme';

// allow scrolling past end
@media screen {
  html {
    height: auto !important;
    padding-bottom: 300px !important;
  }
}

body {
  font-family: "Barlow", sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 5px;
}

a,
a:visited {
  background-color: transparent;
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: "Lobster", serif;
  font-size: 24pt;
  margin-top: 0;
  margin-bottom: 10pt;
  width: 100%;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 0;
}

table {
  border-spacing: 0 5px;
  width: 100%;
}

td.name-cell {
  font-family: "EB Garamond", "Barlow", serif;
}

$img-size: 40px;

td.icon-cell {
  padding-right: 10px;
}

.img-container {
  display: inline-block;
  width: $img-size;
  height: $img-size;
  overflow: hidden;
}

img.char-icon {
  height: $img-size;
  width: $img-size;
}

td.name-cell {
  @media (min-width: 500px) {
    width: 7rem;
    padding-right: 1rem;
  }

  padding-right: 0.5rem;
}

tr.good .name-cell {
  color: theme.$good;
}

tr.evil .name-cell {
  color: theme.$evil
}

@media print {
  .page-divider-bottom {
    display: none;
  }

  .page-divider-top {
    break-after: always;
  }
}

@media print {
  body {
    margin: 0;
  }
}

// hide accessibility labels
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
