@use "theme";

$img-size: 30px;

td.icon-cell {
  padding-right: 10px;
}

.img-container {
  display: inline-block;
  width: $img-size;
  height: $img-size;
  overflow: hidden;
}

img.char-icon {
  height: 100%;
  width: 100%;
}

td.name-cell {
  font-family: "EB Garamond", "Barlow", serif;

  @media (min-width: 500px) {
    width: 7rem;
    padding-right: 1rem;
  }

  padding-right: 0.5rem;
}

tr.good .name-cell {
  color: theme.$good;
}

tr.evil .name-cell {
  color: theme.$evil;
}
