@use "theme";

// allow scrolling past end
@media screen {
  html {
    height: auto !important;
    padding-bottom: 300px !important;
  }
}

body {
  font-family: "Barlow", sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 5px;
}

a,
a:visited {
  background-color: transparent;
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

// reset
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

h1 {
  font-family: "Lobster", serif;
  font-size: 24pt;
  margin-top: 0;
  margin-bottom: 0.5rem;
  width: 100%;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 0;
}

table {
  border-spacing: 0 5px;
  width: 100%;
}

td.name-cell {
  font-family: "EB Garamond", "Barlow", serif;
}

$img-size: 30px;

td.icon-cell {
  padding-right: 10px;
}

.img-container {
  display: inline-block;
  width: $img-size;
  height: $img-size;
  overflow: hidden;
}

img.char-icon {
  height: 100%;
  width: 100%;
}

td.name-cell {
  @media (min-width: 500px) {
    width: 7rem;
    padding-right: 1rem;
  }

  padding-right: 0.5rem;
}

tr.good .name-cell {
  color: theme.$good;
}

tr.evil .name-cell {
  color: theme.$evil;
}

@media print {
  body {
    margin: 0;
  }
}

// hide accessibility labels
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.fullscreen {
  position: fixed;
  // needs to go on top of nav
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow: hidden;
  text-align: center;

  .contents {
    position: relative;
    // center
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    margin-left: auto;
    margin-right: auto;

    font-size: 250%;
  }
}

// utility classes

.bold {
  font-weight: bold;
}

.hidden {
  display: none;
}
