@use "theme";

#nav {
  background-color: theme.$purple;
  padding: 1rem 5px;
  margin: 0 0 1rem 0;

  position: sticky;
  top: 0;
  // make sure sticky bar covers everything
  z-index: 1000;

  @media print {
    display: none;
  }

  .nav-header {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    a:hover {
      text-decoration: none;
    }

    .nav-item {
      display: flex;
      border: 1px solid #aaa;
      padding: 0.5rem;
      border-radius: 0.3rem;
      // background-color: white;
      color: white;

      .svg-inline--fa {
        font-size: 110%;
      }

      &.current {
        // color: #555;
        color: white;
        border-bottom: 0.2rem solid theme.$yellow;
        // box-shadow: 0 0 10px 5px rgb(255, 235, 122);
      }

      &:hover {
        border-color: rgb(0, 170, 255);
        background-color: lighten(theme.$purple, 20);
      }
    }
  }
}

// tab support

.not-visible {
  display: none;
}

// TODO: need some trick for removing from the document flow

// .visible {
//   visibility: visible;
//   opacity: 1;
//   transition: opacity 2s linear;
// }
//
// .not-visible {
//   visibility: hidden;
//   opacity: 0;
//   transition: visibility 0s 2s, opacity 2s linear;
// }
