body {
  margin: 0;
  padding: 0;
  max-width: none;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 5px;
}

#nav {
  background-color: #593286;
  padding: 1rem 5px;
  margin: 0 0 1rem 0;

  @media print {
    display: none;
  }

  ul {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    li {
      display: flex;
      border: 1px solid #aaa;
      line-height: 1.5rem;
      padding: 0.5rem;
      border-radius: 0.3rem;
      // background-color: white;
      color: white;

      .svg-inline--fa {
        font-size: 110%;
        margin-right: 0.4rem;
      }

      &.current {
        // color: #555;
        color: white;
        border-bottom: 0.2rem solid rgb(255, 235, 122);
        // box-shadow: 0 0 10px 5px rgb(255, 235, 122);
      }

      &:hover {
        border-color: rgb(0, 170, 255);
      }

      a {
        display: block;
      }
    }
  }
}
