@use "main";
@use "theme";
@use "nav";

h1 {
  display: inline-block;
  margin-bottom: 0.5rem;

  .title {
    float: left;

    &.other-nights {

      // the other-nights title is a header only for printing (since it goes on
      // the second page)
      @media not print {
        display: none;
      }
    }
  }

  .label {
    font-family: "Barlow", sans-serif;
    font-size: 16pt;
    font-weight: bold;
    float: right;
    margin-right: 1rem;
  }
}

.night-sheet {
  tr {
    // only for opacity, doesn't animate hiding rows entirely
    transition: all 0.5s;
  }

  tr.inactive {
    display: none;
    // opacity: 70%;
  }

  td.details-cell {
    font-size: 10pt;
    padding: 0 8px;
  }

  td.details-cell:not(.empty) {
    border-left: 2.5px solid;
  }

  tr.good td.details-cell {
    border-color: theme.$good;
  }

  tr.evil td.details-cell {
    border-color: theme.$evil;
  }
}

.jinxes {
  text-align: left;
  font-size: 8pt;
  max-width: 330px;
  margin-left: auto;

  .img-container {
    vertical-align: bottom;
    display: inline-block;
  }

  .jinx {
    // TODO: these two max widths are really hacky
    max-width: 230px;
    display: inline-block;
    margin-left: 10px;
  }
}

.token-name {
  cursor: pointer;
}

.card-text {
  display: inline-block;
  max-width: 500px, 70vw;
  text-align: center;
}
