@use "main";
@use "theme";
@use "nav";

h1 {
  display: inline-block;
  margin-bottom: 0.5rem;

  .title {
    float: left;

    &.other-nights {

      // the other-nights title is a header only for printing (since it goes on
      // the second page)
      @media not print {
        display: none;
      }
    }
  }

  .label {
    font-family: "Barlow", sans-serif;
    font-size: 16pt;
    font-weight: bold;
    float: right;
    margin-right: 1rem;
  }
}

.night-sheet {
  tr {
    // only for opacity, doesn't animate hiding rows entirely
    transition: all 0.5s;
  }

  tr.inactive {
    display: none;
    // opacity: 70%;
  }

  td.details-cell {
    font-size: 10pt;
    padding: 0 8px;
  }

  td.details-cell:not(.empty) {
    border-left: 2.5px solid;
  }

  tr.good td.details-cell {
    border-color: theme.$good;
  }

  tr.evil td.details-cell {
    border-color: theme.$evil;
  }
}

.jinxes {
  text-align: left;
  font-size: 8pt;
  max-width: 330px;
  margin-left: auto;

  .img-container {
    vertical-align: bottom;
    display: inline-block;
  }

  .jinx {
    // TODO: these two max widths are really hacky
    max-width: 230px;
    display: inline-block;
    margin-left: 10px;
  }
}

.page-divider-top,
.page-divider-bottom {
  height: 10pt;
}

.page-divider-bottom {
  border-top: 2.5px dotted black;
}

.token-name {
  cursor: pointer;
}

.card-text {
  display: inline-block;
  max-width: 500px, 70vw;
  text-align: center;
}

.all-roles-sheet {
  position: fixed;
  // TODO can this be relative to the main viewport? (only matters on wide
  // widths)
  right: 8px;
  bottom: 8px;
  // make sure this switch covers everything
  z-index: 1000;
  line-height: 2rem;
  vertical-align: middle;
  background-color: #eee;
  border: 2px solid darken(#eee, 20);
  border-radius: 0.25rem;
  width: 10rem;
  align-items: right;
  text-align: center;
}
