@use "main";
@use "theme";
@use "nav";

h1 {
  // TODO: this is apparently an important difference between script.html and
  // index.html
  display: inline-block;
}

.night-sheet {
  tr {
    // only for opacity, doesn't animate hiding rows entirely
    transition: all 0.5s;
  }

  tr.inactive {
    display: none;
    // opacity: 70%;
  }

  td.details-cell {
    font-size: 10pt;
    padding: 0 8px;
    border-left: 2.5px solid;
  }

  tr.good td.details-cell {
    border-color: theme.$good;
  }

  tr.evil td.details-cell {
    border-color: theme.$evil;
  }
}
