@use "main";
@use "nav";

$img-size: 30px;

td.icon-cell {
  height: $img-size;
  padding-top: 0;
  padding-bottom: 0;
}

.img-container {
  display: inline-block;
  height: $img-size;
  overflow: hidden;
}

.jinxes {
  margin-top: 2rem;
}
