@use 'main';
@use 'nav';

.main {
  font-size: 11pt;

  @media print {
    font-size: 9pt;
  }
}

table {
  border-spacing: 0;
}

@media (max-width: 500px) {
  td {
    border-bottom: 1px dotted #bbb;
  }
}

$img-size: 30px;

td.icon-cell {
  height: $img-size;
  padding-top: 0;
  padding-bottom: 0;
}

.img-container {
  display: inline-block;
  height: $img-size;
  overflow: hidden;
}

img.char-icon {
  height: $img-size;
  width: $img-size;
}
