@use 'main';

table {
  border-spacing: 0;
}

.ability-cell {
  font-size: 10pt;
}

td.icon-cell {
  height: 0.8em;
  padding-top: 0;
  padding-bottom: 0;
}

.img-container {
  display: inline-block;
  height: 35px;
  overflow: hidden;
}
