@use "theme";

td.icon-cell {
  padding-right: 10px;
}

td.name-cell {
  font-family: "EB Garamond", "Barlow", serif;

  @media (min-width: 500px) {
    width: 7rem;
    padding-right: 1rem;
  }
}

tr.good .name-cell,
span.good {
  color: theme.$good;
}

tr.evil .name-cell,
span.evil {
  color: theme.$evil;
}

td.ability-cell {
  @media print {
    font-size: 10pt;
  }
}
