@use "../main";
@use "../theme";
@use "../nav";

.night-sheet {
  tr.inactive {
    display: none;
  }

  td.details-cell {
    font-size: 10pt;
    padding: 0 8px;
    border-left: 2.5px solid;
  }

  tr.good td.details-cell {
    border-color: theme.$good;
  }

  tr.evil td.details-cell {
    border-color: theme.$evil;
  }
}
