$good: #003D88;
$evil: #880000;

body {
  margin: 2em auto;
  width: 800px;
  font-family: "EB Garamond";
}

h1 {
  font-family: "Lobster";
}

table {
  border-collapse: separate;
  border-spacing: 0 5px;
}
.icon-cell {
  max-width: 50px;
}
img.char-icon {
  width: 60px;
  height: 60px;
}
td.name-cell {
  width: 9em;
}
tr.good .name-cell {
  color: $good;
}
tr.evil .name-cell {
  color: $evil
}
td.details-cell {
  padding: 8px;
}
tr.good td.details-cell {
  border-left: 2.5px solid $good;
}
tr.evil td.details-cell {
  border-left: 2.5px solid $evil;
}
